.addNoteContainer {
  margin-top: 25px;
}

.imgCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  width: fit-content;
}
.addImg {
  width: 40px;
  cursor: pointer;
}
.addAlert {
  margin-left: 10px;
  font-size: 20px;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.addImg:hover + .addAlert {
  opacity: 1;
  transform: translateX(0);
}
.noteModalBody {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
}
.noteBox {
  margin-top: 200px;
  background-color: white;
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 30px;
  color: #363636;
  position: relative;
}
.noteTitle {
  text-align: center;
  font-size: 40px;
  outline: none;
}

.noteTitle:focus {
  border-bottom: 1px solid black;
}
.noteBox textarea {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  font-size: 25px;
  border: 1px solid rgb(199, 199, 199);
  outline: none;
  text-align: center;
  border-radius: 20px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.noteDate {
  position: absolute;
  left: 30px;
  font-size: 20px;
}

.noteButtCont {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.noteButt {
  padding: 10px 18px;
  width: 108px;
  border: none;
  border-radius: 14px;
  background-color: #236bfa;
  color: white;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0px 5px 8px #a4a7ae;
}
.noteButt:hover {
  background-color: #4d85f6;
}
.noteCancel {
  margin-right: 20px;
  color: #848484;
  padding: 10px 18px;
  width: 108px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 14px;
}
.noteCancel:hover {
  background-color: #ececec;
  color: #454545;
}
.savedNotesModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
}
.savedNotesCont {
  margin-top: 140px;
  background-color: white;
  width: 960px;
  height: 600px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  color: #363636;
}
.savedLeft {
  width: 350px;
  height: 100%;
  border-right: 1px solid rgb(192, 192, 192);
  overflow: scroll;
}
.savedLeft::-webkit-scrollbar {
  display: none;
}
.savedRight {
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.savedRight::-webkit-scrollbar {
  display: none;
}
.noteDatesButt {
  font-size: 20px;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  width: 240px;
  box-shadow: 0px 2px 7px rgba(68, 68, 68, 0.5);
  transition: 0.3s;
}
.selectedDate {
  background-color: #0069c0;
  color: white;
}
.noteDatesButt:hover {
  transform: translateY(-3px);
}
.rightSideTitles {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  margin: 20px;
  font-size: 30px;
  border: 1px solid rgb(197, 197, 197, 0.5);
  min-width: 200px;
  cursor: pointer;
  box-shadow: 0px 2px 7px rgba(139, 139, 139, 0.5);
}
.selectedNote {
  background-color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 30px;
  position: relative;
}
.contenttt {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  font-size: 25px;
  outline: none;
  text-align: center;
  border-radius: 20px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.back {
  width: 35px;
  position: absolute;
  left: 30px;
  cursor: pointer;
}
.editAll {
  border: 1px solid rgb(212, 212, 212);
}
.editTitle {
  border-bottom: 1px solid black;
}
