.historyContainer {
  height: 600px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.historyCardContainer::-webkit-scrollbar {
  display: none;
}
.historyCardContainer {
  overflow-y: scroll;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.historyCard {
  font-size: 20px;
  background-color: rgba(207, 207, 207, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  min-width: 550px;
  max-width: 550px;
  height: 70px;
  cursor: default;
}
.historyCardDate {
  min-width: 110px;
  max-width: 110px;
  cursor: pointer;
}

.medalContainer:hover .medalMin {
  opacity: 1;
}

.medals {
  min-width: 60px;
  max-width: 60px;
}
.medalContainer {
  margin-top: 30px;
}

.medalMin {
  background-color: rgba(196, 196, 196, 0.2);
  padding: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  border-radius: 5px;
  width: 59px;
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
}
.medalScroll {
  display: flex;
  overflow-y: hidden;
  overscroll-behavior: contain;
}
.medalScroll::-webkit-scrollbar {
  display: none;
}
.registerBox {
  font-size: 20px;
  padding: 20px;
  margin: 30px;
  border-radius: 15px;
  margin-top: 30px;
  background-color: rgb(237, 237, 237);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  cursor: default;
  color: rgb(70, 70, 70);
  width: 390px;
}
.registerBox button {
  background-color: rgb(19, 115, 200);
  margin-top: 20px;
  padding: 8px;
  font-size: 17px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  color: white;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.3);
  width: 100px;
}
.registerBox button:hover {
  background-color: rgb(12, 71, 122);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-3px);
}
.registerButtCont {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .historyContainer {
    margin-top: 350px;
  }
  .historyCard {
    font-size: 20px;
    background-color: rgba(207, 207, 207, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-radius: 5px;
    padding: 10px;
    min-width: 340px;
    max-width: 340px;
    height: 70px;
  }
  .medals {
    min-width: 53px;
    max-width: 53px;
  }
  .historyContainer {
    height: 280px;
    width: 800px;
  }
}
