@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

body {
  background-color: rgb(53 106 146);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  transition: 0.2s;
}
.containerAlpha {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
}
.containerAlpha > * {
  min-width: 0;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.headerTitle {
  font-size: 30px;
}
.middleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}
.buttContainer {
  display: flex;
}
.headerButts {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
  width: 80px;
  cursor: pointer;
  color: rgb(255, 255, 255, 0.8);
  transition: 0.2s;
}
.profilePicture {
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
  cursor: pointer;
  color: rgb(255, 255, 255, 0.8);
  transition: 0.2s;
}
.profilePicture:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.headerButts:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
}
.mainContainer {
  display: flex;
  width: 100%;
  height: 100%;
  margin-top: 30px;
  justify-content: center;
}
.middleMid {
  width: 470px;
  display: flex;
  flex-direction: column;
  order: 2;
}
.profileMenu {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: rgb(47, 47, 47);
  border-radius: 10px;
  position: absolute;
  top: 60px;
  right: 0px;
  width: 200px;
  z-index: 9999;
}
.profileMenu button {
  padding: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 100%;
}
.profileMenu button:hover {
  background-color: rgb(169, 169, 169, 0.3);
}
.menuPic {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  pointer-events: none;
}
.loadingContainer {
  position: fixed;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  z-index: 9999;
}
.loadingContainer svg {
  animation: rotate 1.5s linear infinite;
}
.circle {
  animation: dash 2.5s ease-in-out infinite;
  fill: none;
  stroke-width: 0.2;
  stroke: rgb(255, 255, 255);
  stroke-linecap: round;
}
.loading {
  position: absolute;
  font-size: 18px;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 20;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 10, 20;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 10, 20;
    stroke-dashoffset: 0;
  }
}

.deleteUserBody {
  position: fixed;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  transition: 0.2s;
  opacity: 0;
  pointer-events: none;
}

.deleteUserCont {
  margin-top: 200px;
  background-color: white;
  width: 500px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 30px;
  color: #363636;
  position: relative;
}
.deleteText {
  font-size: 20px;
}
.deleteInput {
  border: 1px solid rgb(185, 185, 185);
  margin-top: 15px;
}
.deleteButtCon {
  display: flex;
  margin-top: 20px;
  width: 200px;
  justify-content: space-around;
}
.deleteCancelButt {
  color: rgb(37, 37, 37);
  background-color: rgb(228, 228, 228);
  padding: 5px;
  border-radius: 10px;
  width: 70px;
  cursor: pointer;
}
.deleteUserButt {
  color: white;
  background-color: rgb(255, 65, 65);
  padding: 5px;
  border-radius: 10px;
  width: 70px;
  cursor: pointer;
  transition: 0.2s;
}
.deleteUserButt:hover {
  background-color: rgb(255, 119, 119);
}
.deleteCancelButt:hover {
  background-color: #f1f1f1;
}
.footerCont {
  height: 160px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.footerLinksCont {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  width: 500px;
  justify-content: space-around;
}
.madeByCont {
  margin-top: 30px;
  font-size: 18px;
}
.footerLink {
  cursor: pointer;
  font-size: 18px;
}

@media (max-width: 600px) {
  .buttContainer button {
    width: 50px;
    font-size: 13px;
  }

  .middleHeader {
    width: 100%;
    border-bottom: none;
    padding: 5px;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  .middleMid {
    width: 95%;
    order: 1;
  }
  .footerCont {
    margin-top: 120px;
    width: 97%;
    padding-bottom: 0px;
  }
  .footerLinksCont {
    width: 380px;
    justify-content: space-around;
  }
  .jpjp {
    display: none;
  }
  .profileMenu {
    top: 60px;
    right: 5px;
    width: 200px;
  }
  .deleteUserCont {
    width: 350px;
  }
}
