@import "tailwindcss";

body {
  background-color: rgb(53 106 146);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  width: 100vw;
  transition: 0.2s;
}
.containerAlpha {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.headerTitle {
  font-size: 30px;
}
.middleHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 650px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  padding-top: 10px;
  padding-bottom: 10px;
}
.buttContainer {
  display: flex;
}
.headerButts {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
  width: 80px;
  cursor: pointer;
  color: rgb(255, 255, 255, 0.8);
  transition: 0.2s;
}
.profilePicture {
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
  cursor: pointer;
  color: rgb(255, 255, 255, 0.8);
  transition: 0.2s;
}
.profilePicture:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.headerButts:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
}
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}
.profileMenu {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: rgb(47, 47, 47);
  border-radius: 10px;
  position: absolute;
  top: 60px;
  right: 0px;
  width: 200px;
  z-index: 9999;
}
.profileMenu button {
  padding: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  width: 100%;
}
.profileMenu button:hover {
  background-color: rgb(169, 169, 169, 0.3);
}
.menuPic {
  width: 15px;
  height: 15px;
  margin-right: 10px;
  pointer-events: none;
}

@media (max-width: 600px) {
  .buttContainer button {
    width: 50px;
    font-size: 13px;
  }
  .middleHeader {
    width: 370px;
    border-bottom: 1px solid rgba(255, 255, 255);
    padding: 5px;
  }
}
