.lvlBarContainer {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lvlTitle {
  font-size: 50px;
}
.lvlBar {
  position: relative;
  height: 40px;
  width: 500px;
  background-color: rgb(255, 255, 255);
  color: rgb(125, 125, 125);
  font-size: 20px;
  border-radius: 20px;
  overflow: hidden;
  border: 3px solid rgb(50, 50, 50);
}
.numberBar {
  position: absolute;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
}
.progressLoad {
  background-color: rgb(39, 234, 127);
  height: 100%;
}

.avatar {
  border-radius: 20px;
  margin-top: 30px;
  width: 400px;
}
