.lvlBarContainer {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lvlTitle {
  font-size: 50px;
}
.lvlBar {
  background-color: white;
  border-radius: 20px;
  width: 500px;
  height: 35px;
  color: black;
  display: flex;
  align-items: center;
  padding: 10px;
}

.avatar {
  border-radius: 20px;
  margin-top: 30px;
  width: 400px;
}
