.plansBody {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}
.plansContainer {
  margin-top: 140px;
  background-color: white;
  width: 960px;
  height: 540px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  color: #363636;
}
.planHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}
.planTitle {
  font-size: 40px;
  display: flex;
}
.planxButt {
  font-size: 35px;
}
.xSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}
.xSquare:hover {
  background-color: #e9e9e9;
}
.premiumIcon {
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
.planMainCont {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
}
.planMoreF {
  font-size: 20px;
  color: #9e9e9e;
}
.moreCont {
  padding-left: 20px;
  min-width: 250px;
}
.planCheck {
  font-size: 30px;
  color: rgb(53 106 146);
  margin-right: 10px;
}
.planListItems {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-top: 12px;
}
.planBoxesCont {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.planBox {
  border: 3px solid rgb(190, 190, 190, 0.5);
  height: 200px;
  width: 200px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
  transition: 0.1s;
  position: relative;
}
.planBoxH:hover {
  color: rgb(168, 168, 168);
}
.selectedPlan {
  border-color: #2357dc;
  background-color: rgb(59, 125, 248, 0.2);
}
.selecValue {
  color: #2357dc;
}
.planBoxTitle {
  font-size: 25px;
}
.planValue {
  font-size: 50px;
}
.valueSmall {
  font-size: 17px;
}
.planWarning {
  font-size: 17px;
  background-color: #f1f1f1;
  width: fit-content;
  margin: 20px;
  color: #7b7b7b;
  padding: 10px;
  border-radius: 10px;
  margin-right: 470px;
}
.planPurchase {
  background-color: rgb(0, 106, 211);
  color: white;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.planPurchase:hover {
  background-color: rgb(42, 148, 255);
}

.saveMoney {
  color: rgb(250, 75, 75);
  margin-top: 5px;
}
.noopa {
  opacity: 0;
}
.planButtCont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.planCancel {
  background-color: #e6e6e6;
  padding: 10px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.planCancel:hover {
  background-color: #d7d7d7;
}
.currentPlanUp {
  color: #2357dc;
  position: absolute;
  bottom: 200px;
  font-size: 20px;
}
.paySuccessBody {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}

.paySuccessCont {
  margin-top: 140px;
  background-color: white;
  width: 960px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  color: #363636;
  font-size: 20px;
}
.payTitle {
  font-size: 35px;
  margin-bottom: 20px;
}
.paySuccessCont button {
  margin-top: 30px;
  background-color: #3770fe;
  width: 120px;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.2s;
}
.paySuccessCont button:hover {
  background-color: #6591ff;
}
.cancelModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.2s;
}
.cancelCont {
  margin-top: 300px;
  background-color: white;
  width: 460px;
  height: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  color: #363636;
  padding: 20px;
}
.cancelSure {
  font-size: 18px;
}
.cancelModalTitle {
  font-size: 30px;
}
.listCancel {
  list-style-type: disc;
}
.cancelPlanButts {
  margin-top: 20px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cancelPlanButts button {
  padding: 3px;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  height: 35px;
  transition: 0.2s;
}
.confirmCancelP {
  background-color: #245dec;
  color: white;
}
.confirmCancelP:hover {
  background-color: #4278ff;
}
.cancelCancelP {
  background-color: #ebebeb;
  color: rgb(136, 136, 136);
}
.cancelCancelP:hover {
  background-color: #dbdbdb;
}
.active {
  opacity: 1;
  pointer-events: auto;
}
